/* Container for the whole login screen */
.login-container {
  display: flex;
  height: 100dvh;
  width: 100%;
}

/* Box holding image and form */
.auth-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

/* Left side: Image */
.auth-box.img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* Right side: Form container */
.form-container {
  margin-left: 100px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container h2 {
  padding: 15px 0;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
.form-container p {
  padding: 15px 0;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Form styling */
.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 14px;
  margin-bottom: 14px;
  font-weight: bold;
}

.login-form input {
  padding: 12px 14px;
  margin-bottom: 18px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s ease;
}
.login-form-input:focus {
  border-color: #6366f1;
}
.auth-button,
.google-btn {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.auth-button {
  padding: 12px;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 600;
  background-color: #6366f1;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-btn {
  width: 410px;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.google-btn img {
  margin-right: 8px;
}

.auth-divider {
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.auth-divider span {
  background: #fff;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.auth-divider::before {
  content: "";
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 0;
}

.auth-error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.auth-footer {
  margin-top: 20px;
  font-size: 14px;
}

.auth-footer a {
  color: #3b82f6;
  text-decoration: none;
  font-weight: bold;
}
.auth-success {
  color: green;
  background-color: #eafae9;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
