/* Main signup wrapper */
.signup-section {
  display: flex;
  height: 100dvh;
  width: 100%;
}

/* Container for image + form */
.signup-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
}
.signup-image-conatiner {
  user-select: none;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  height: 90%;
  width: 35%;
  overflow: hidden; /* prevent image overflow */
  border-radius: 12px; /* optional - makes it look cleaner */
  box-shadow: 0 1px 30px #33333364;
  background-color: #444444;
}

/* Right signup form section */
.signup-form-container {
  height: 90%;
  width: 35%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


/* Form styling */
.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.signup-form label {
   font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 14px;
  font-weight: bold;
}

.signup-form input {
   font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 12px 14px;
  margin-bottom: 18px;
  font-size: 15px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s ease;
}
.signup-form-input:focus {
  border-color: #6366f1;
}
.signup-button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 12px;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 600;
  background-color: #6366f1;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Error message */
.signup-error {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: red;
  font-size: 18px;
  margin-bottom: 12px;
}


@media screen and (max-width: 768px) {
  .signup-container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
  }
  .signup-image-conatiner{
    display: none;
  }
  
.signup-form-container {
  height: 90%;
  width: 75%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
}