.hero {
  height: 100dvh;
  width: 100%;
  position: relative;
  background: linear-gradient(135deg, #5de0e6, #636ae8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-section-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.title-01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 0 50px;
}
.title-02 {
  padding: 0 50px;
}
.title-explore {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.hero-title {
  width: 100%;
  padding: 0 30px;
}
.hero-title h1 {
  font-size: 4rem;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-image: linear-gradient(90deg, #f2f2f2, #87cdf0);

  /* 2. Clip the Background to the Text */
  -webkit-background-clip: text;
  background-clip: text;

  /* 3. Make the Text Color Transparent */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback for transparency */

  /* Ensure the element only takes up the space of the text */
  display: inline-block;
}
.hero-sub-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #f2fdff;
  font-size: 28px;
}

.hero-buttons {
  height: fit-content;
  margin: 25px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 2;
}

.hero-btn {
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 1.122rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.primary {
  background-color: #323fff;
  color: #ffffff;
  box-shadow: 1px 1px 50px #cbfbff;
}

.primary:hover {
  box-shadow: 1px 1px 30px #f0f3fbea;
  background-color: #0015d1;
}

.secondary {
  background-color: #ffffff;
  color: #2b21e3;
  border: 2px solid #4f46e5;
}

.secondary:hover {
  background-color: #f0f4ff;
}
.hero-thumbnail {
  display: flex;
  padding: 10px;
}

.main-title-1 {
  display: flex;
  align-self: self-end;
  font-family: Be Vietnam Pro, SemiBold, sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
  margin: 8px 0;
  z-index: 0;
}
