.hero {
  background: #f7f7f8;
  padding: 50px 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.hero-title {
  font-family: Be Vietnam Pro, SemiBold, sans-serif;
  font-size: 36px;
  color: #4b5563;
  margin-bottom: 1rem;
}

.hero-sub-title {
  font-family: Be Vietnam Pro, sans-serif;
  font-size: 28px;
}

.hero-buttons {
  margin: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* ✅ remove margin-left */
}

.btn {
  padding: 0.75rem 2rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.primary {
  background-color: #4f46e5;
  color: #ffffff;
}

.primary:hover {
  background-color: #4338ca;
}

.secondary {
  background-color: #ffffff;
  color: #4f46e5;
  border: 2px solid #4f46e5;
}

.secondary:hover {
  background-color: #f0f4ff;
}
.hero-thumbnail {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 1280px;
  height: 649px;
}
.hero-img {
  height: 100%;
  width: 1005;
  margin: 0px;
  object-fit: cover;
}
.main-title-1 {
  display: flex;
  align-self: self-end;
  font-family: Be Vietnam Pro, SemiBold, sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
  margin: 8px 0;
  z-index: 0;
}
