
.chat-icon {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 20px;
  right: 20px;
  background-color: #181e83;
  color: white;
  border: none;
  width: fit-content;
  border-radius: 30px;
  padding: 12px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}
.chat-icon:hover {
  transform: scale(1.04);
}
.chat-note{
  position: relative;
  display: flex;
  user-select: none;
}
.chat-note p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 2px 10px;
  font-weight: 500;
  color: aliceblue;
}
.chat-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 320px;
  max-height: 500px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 999;
}

.chat-container.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:
                radial-gradient(at 20% 25%, hsla(181, 100%, 50%, 0.177) 0px, transparent 50%),
                radial-gradient(at 80% 75%, hsla(258, 100%, 81%, 0.15) 0px, transparent 50%);
}
