.ranking-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.ranking-container {
  max-width: 350px;
  height: fit-content;
  background: transparent;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.166);
  font-family: "Segoe UI", sans-serif;
  padding: 10px 20px;
}

.ranking-container h2 {
  text-align: center;
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 600;
  color: #464647df;
}
.rank-table {
  overflow-y: auto; /* Vertical scroll */
}
.ranking-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  overflow-y: auto;
}

.ranking-table th,
.ranking-table td {
  padding: 8px 0px;
  text-align: center;
  font-size: 14px;
}

.ranking-table th {
  background: #f9f9f9;
  font-weight: 600;
  color: #555;
  position: sticky;
}

.ranking-table td {
  color: #333;
}

.highlight {
  background-color: #e6f7ff;
  font-weight: bold;
  border-left: 3px solid #3b7cff;
}
.test-yourself {
  align-items: center;
  max-width: 330px;
}
.test-yourself {
  all: unset;
  width: 320px;
  height: 27px;
  cursor: pointer; /* Show pointer cursor on hover */
  padding: 8px 16px; /* Add custom padding */
  background-color: #007bff; /* Your custom background */
  color: white; /* Text color */
  border-radius: 15px; /* Rounded corners */
  font-weight: 600;
  user-select: none;
  text-align: center;
  transition: background-color 0.3s ease;
  border: 2px solid white;
}

.test-yourself :hover {
  background-color: #0056b3; /* Darker on hover */
}
