.footer {
  width: 100%;
    background-color: #000054; /* dark navy blue */
    color: #e0e0e0;
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .footer-content {
    width: 100%;
    margin: auto;
  }
  
  .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .footer-logo {
    border-radius: 8px;
    height: 40px;
  }
  
  .back-to-top {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .footer-nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .footer-nav a {
    text-decoration: none;
    color: #e0e0e0;
    transition: color 0.3s;
  }
  
  .footer-nav a:hover {
    color: #ffffff;
  }
  
  .footer-bottom {
    font-size: 0.85rem;
    color: #ccc;
    margin-bottom: 1.5rem;
  }
  .footer-bottom span{
    padding: 5px;
  }
  .footer-bottom a{
    padding: 5px;
  }
  
  .footer-socials {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .footer-socials img {
    height: 24px;
    transition: transform 0.2s ease;
  }
  
  .footer-socials img:hover {
    transform: scale(1.15);
  }
  